##########################################################
# Apss
##########################################################


######## Core
SESSION_SECRET=
MONGO_URL=mongodb://mongo:27017/dialogoLegislativo
AUTH_SERVER_URL=https://keycloak.democraciaenred.org/auth
AUTH_REALM=dialogo-legislativo
AUTH_CLIENT=dialogo-legislativo-core
NOTIFIER_URL=


######## Web
API_URL=
AUTH_SERVER_URL=https://keycloak.democraciaenred.org/auth
REALM=dialogo-legislativo
RESOURCE=dialogo-legislativo-web
SSL_REQUIRED=external
PUBLIC_CLIENT=true
CONFIDENTIAL_PORT=0


######## Notifier
DB_COLLECTION=dialogoLegislativo
ORGANIZATION_EMAIL=
ORGANIZATION_NAME=
ORGANIZATION_API_URL=
NODEMAILER_HOST=
NODEMAILER_PASS=
NODEMAILER_USER=
NODEMAILER_PORT=
NODEMAILER_SECURE=true
NODE_ENV=development
BULK_EMAIL_CHUNK_SIZE=100




##########################################################
# Auth
##########################################################


# ######## Postgres
# POSTGRES_HOST=postgres
# POSTGRES_PORT=5432
# POSTGRES_DB=
# POSTGRES_USER=
# POSTGRES_PASSWORD=


# ######## Keycloak
# DB_VENDOR=postgres
# DB_ADDR=postgres
# DB_DATABASE=
# DB_USER=
# DB_PASSWORD=
# KEYCLOAK_USER=
# KEYCLOAK_PASSWORD=
# KEYCLOAK_WELCOME_THEME=